/********* FONTS *********/
@font-face {
    font-family: Barlow-Bold;
    src: url('../fonts/Barlow-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Barlow-SemiBold;
    src: url('../fonts/Barlow-SemiBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Barlow-Regular;
    src: url('../fonts/Barlow-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Barlow-Medium;
    src: url('../fonts/Barlow-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-display: swap;
}